<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('partials/head')%>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
     <link rel="stylesheet" href="/Css/userSpace.css">
     <title>Inicio</title>
</head>

<body>
     <div class="conteinerHidden">
          <img src="" alt="imagenes ampliadas" class="imageBig  animate__animated animate__bounceInDown">
          <p class="pHidden animate__animated animate__bounceInUp"></p>
     </div>
     <div class="userSpaceConteiner animate__animated  animate__backInDown">
          <div class="userPostArea">
               <img src="https://picsum.photos/200/300" alt="" class="userImage">
               <div class="userInformation">
                    <span class="time"></span>
                    <p class="userName"><%= userName%></p>
               </div>
               <a href="../" class=""><i class="fas fa-power-off salir"></i></a>
          </div>
          <div class="userTextArea">
               <div class="contenedorForm">
                    <p contenteditable="true" class="userText"></p>
                    <p class="countLetter">0/200</p>
                    <form action="/userspace<%= userName%>" method="POST" class="form" enctype="multipart/form-data">
                         <input type="text" name="userName" value="<%= userName%>">
                         <input type="text" id="text" name="text" value="">
                         <input type="text" id="date" name="date" value="">
                         <input type="text" id="delete" name="delete" value="">
                         <label for="image"  class="labelImage">Subir imagen</label>
                         <input type="file" name="image" id="image" accept="image/*">
                    </form>
                    <button type="submit" class="toPost"><i class="fas fa-paper-plane "></i></button>
               </div>
               <img src="" alt="" class="imageToPost">
          </div>
          <div class="userPublicationArea ">

          </div>
     </div>

     <script>
          var userData = "<%= datos%>";
     </script>
     <script src="/Js/userSpace.js" type="text/javascript"></script>
</body>

</html>