<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('partials/head')%>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
     <link rel="stylesheet" href="/Css/userSpace.css">
     <title>Inicio</title>
</head>

<body>
     <div class="userSpaceConteiner animate__animated  animate__backInDown">
          <div class="userPostArea">
               <img src="https://picsum.photos/200/300" alt="" class="userImage">
               <div class="userInformation">
                    <span class="time"></span>
                    <p class="userName"><%= userName%></p>
               </div>
               <a href="../" class=""><i class="fas fa-power-off salir"></i></a>
          </div>
          <div class="userTextArea">
               <div class="contenedorForm">
                    <div contenteditable="true" class="userText"></div>
                    <form action="/userspace<%= userName%>" method="POST" class="form" enctype="multipart/form-data">
                         <input type="text" name="userName" value="<%= userName%>">
                         <input type="text" id="text" name="text" value="">
                         <input type="text" id="date" name="date" value="">
                         <input type="text" id="delete" name="delete" value="">
                         <label for="image">Subir imagen</label>
                         <input type="file" name="image" id="image" accept="image/*">
                    </form>
                    <button type="submit" class="toPost"><i class="fas fa-paper-plane "></i></button>
               </div>
               <img src="" alt="" class="imageToPost">
          </div>
          <div class="userPublicationArea ">

          </div>
     </div>
     <script>
          // cpmseguir ;a fecha actual y almacenarla
          let fecha = new Date();
          let cadena = `${fecha.getFullYear()}-${fecha.getMonth()+1}-${fecha.getDate()}`;
          document.querySelector('.time').innerText = cadena;
          // seleccionando los botones utiles
          let boton = document.querySelector('.toPost');
          let imageUpload = document.getElementById('image');
          let imagePreview = document.querySelector('.imageToPost');
          imageUpload.addEventListener('change', () => {
               let TmpPath = URL.createObjectURL(imageUpload.files[0]);
               imagePreview.setAttribute('src', TmpPath);
               imagePreview.style.display = 'block';
          })



          // acomodar la informacion del usuario
          try {

                let data = "<%= datos%>".split('des4523,');
                let n = data.length;
               data[n - 1] = data[n - 1].substring(0, (data[n - 1].length - 7));
               console.log(data[n - 1])
               for (let i = n - 2; i > 1; i -= 5) {

                    let userPost = document.createElement('div');
                    userPost.className = "userPost";
                    // creando contenedores para el texto y la informacion de usuario
                    let userInformation = document.querySelector('.userPostArea').cloneNode(true);
                    userInformation.removeChild(userInformation.lastElementChild);
                    let trash = document.createElement('i');
                    // boton para eliminar
                    trash.className = "fas fa-trash trash";
                    let bottonTrash = document.createElement('button');
                    bottonTrash.id = data[i - 3];
                    bottonTrash.appendChild(trash);
                    userInformation.appendChild(bottonTrash);
                    // evento para eliminar 
                    bottonTrash.addEventListener('click', (e) => {

                         document.getElementById('delete').value = e.target.parentElement.getAttribute('id');
                         document.querySelector('.form').submit();

                    });
                    // crear el post del usuario
                    let userText = document.createElement('div');
                    userText.className = 'userText';
                    let text = document.createElement('p');
                    let image = document.createElement('img');
                    if (data[i] != "vacio12Se") text.innerText = data[i];
                    userText.appendChild(text);
                    if (!data[i +1].includes('vacio12Se')) {
                         image.setAttribute('src', `/files/${data[i + 1]}`);
                         image.className = 'imgPost';
                         userText.appendChild(image);
                    } 

                   
                    
                    userPost.appendChild(userInformation);
                    userPost.appendChild(userText);

                    // insertandolo en el area de publicaciones
                    document.querySelector('.userPublicationArea').appendChild(userPost);


               }
          } catch (error) {
               console.log(error);
          }

          // enviar el formulario
          boton.addEventListener('click', () => {
               let texto = document.querySelector('.userText').innerText;
               let datePost;
               datePost =
                    `${fecha.getFullYear()}-${fecha.getMonth()+1}-${fecha.getDate()} ${fecha.getHours()}:${fecha.getMinutes()}:00`;
               document.getElementById('date').value = datePost;
               document.getElementById('text').value = texto;
               document.querySelector('.form').submit();
          });
     </script>
</body>

</html>